.inline {
  display: inline-flex;
  width: fit-content;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
  font-size: 14px;
  gap: 10px;
  background-color: #fff;
}

input {
  padding: 5px 8px;
  border: none
}

.submit-button {
  background-color: #E00707;
  padding: 10px;
  border: 1px solid #E00707;
  border-radius: 5px;
}

