form {
  display: flex;
  justify-content: center;
}

.inline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-items {
  display: flex;
  box-sizing: border-box;
  padding: 10px 13px;
  border-radius: 4px 0px 0px 4px;
  border: none;
  background-color: white;
}

.input-field {
  border: none;
  font-size: 15px;
  color: gray;
  font-weight: 500;
}

.input-field::placeholder {
  color: lightgray;
}

.submit-button {
  display: block;
  height: 100%;
  background-color: #E00707;
  border: none;
  border-radius: 0px 4px 4px 0px;
  color: white;
  padding: 0 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

