.App {
  text-align: center;
  padding: 20px;
  background-image: url(./assets/eaters-collective-i_xVfNtQjwI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  gap: 10px;
}

#yelp-logo {
  height: 30px;
}

#app-title, #recommendation-title {
  font-size: 36px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
}

#error-message {
  display: block;
  text-align: left;
  padding: 20px 0 5px;
}

.restaurant-section {
  display: block;
  text-align: left;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.chosen-restaurant {
  list-style: none;
  text-align: left;
  padding: 10px;
  border: 2px solid black;
  font-weight: 700;
  font-size: 18px;
  background-color: rgba(255,255,255,0.5)
}

#recommendation-title {
  padding-bottom: 10px;
  font-size: 30px;
}

#recommendations {
  overflow: scroll;
  height: 400px;
}

.display {
  padding-top: 30px;
  display: block;
}
.no-display {
  display: none;
}
.green {
  color: green;
}
.red {
  color: red;
}

#loading {
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
